.App{
  width: 100%;
  height: 100%;
  background-color: rgb(39, 36, 36);
  color: #fff;
}
/* banner */
.App .banner{
  width: 100%;
  height: 720px;
}


.App .banner img{
  width: 100%;
  height: 100%;
}
/* description */
.description{
  padding: 10px;
  width: 100%;
  text-align: center;
}
.description h2{
  /* width: 200px; */
  margin: 5px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #000036;
  padding: 10px;
  display: inline-block;
}

.description p{
  padding-top: 10px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.description h6{
  display: inline-block;
  margin-top: 6px;
  padding: 3.5px;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Links */
.links{
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: aliceblue; */
}


.links .crypto-com,
.links .crypto-dido{
  border-radius: 10px;
  width: 300px;
  height: 250px;
  background-color: black;
  color: aliceblue;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.linkTitle{
  text-transform: uppercase;
  padding: 5px 0;
  /* margin-bottom: 5px; */
}

.linkLink{
  padding: 5px;
  background-color: aliceblue;
  color: black;
  border: black solid 1px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 500ms ease-in-out;
}
.linkLink:hover{
  border: aliceblue 1px solid;
  background-color: black;
  color:aliceblue;
}

.image-container{
  padding: 12px 0;
  width: 250px;
  height: 175px;
  margin: 0 auto;
}
.image-container img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* Crypto Socials */
.crypto-socials{
  width: 100%;
  padding: 5px;
  background-color:#000036;
  color: #fff;
  text-align: center;
}

.crypto-socials h3,
.forum h3{
  padding-top: 5px;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.crypto-social-links{
  width: 37.5%;
  margin: 10px auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crypto-social-links li a{
  border-radius: 5px;
  display: inline-block;
  color: yellow;
  width: 40px;
  height: 40px;
}
.crypto-social-links li a:hover{
  color:dodgerblue;
}

.crypto-social-links li a svg{
  width: 100%;
  height: 100%;
}

/* Forum */
.forum{
  padding-top: 10px;
  background-color: rgb(39, 36, 36);
  color: #fff;
  text-align: center;
}

.forum form{
  padding: 10px;
}
.forum form input{
  font-size: 1.5rem;
  padding: 5px;
}
.forum form button{
  font-size: 1.5rem;
  padding: 7px;
  background-color: #000036;
  color: #fff;
  border: none;
}
.forum form button:hover{
  background-color: dodgerblue;
}



/* Iphone screen */
@media (max-width: 375px) {
  .App .banner{
    height: 350px;
  }
  .crypto-social-links{
    width: 75%;
  }
  .forum form button{
    margin-top: 10px;
    width: 100%;
  }
}