*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

code {
  color: rgb(220, 231, 69);
}

strong{
  background-color: black;
  padding: 3.5px;
}